In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\ASUS\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\ASUS\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\ASUS\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df = pd.read_csv("ss.csv")
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,369,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                373 non-null    int64
 1   Gender                   373 non-null    object
 2   Age                      373 non-null    int64
 3   Occupation               373 non-null    object
 4   Sleep Duration           373 non-null    float64
 5   Quality of Sleep         373 non-null    int64
 6   Physical Activity Level  373 non-null    int64
 7   Stress Level             373 non-null    int64
 8   BMI Category             373 non-null    object
 9   Blood Pressure           373 non-null    object
 10  Heart Rate               373 non-null    int64
 11  Daily Steps              373 non-null    int64
 12  Sleep Disorder           373 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.0+ KB

In [4]:
df.isna().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [5]:
# Membuat kolom baru untuk tekanan darah atas dan bawah
df["TOP Blood Preasure"] = 0
df["Bottom Blood Preasure"] = 0

# Memisahkan tekanan darah dan menambahkannya ke dalam kolom baru
for index, row in df.iterrows():
    top, bottom = row["Blood Pressure"].split("/")
    df.at[index, "TOP Blood Preasure"] = int(top)
    df.at[index, "Bottom Blood Preasure"] = int(bottom)

In [6]:
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,TOP Blood Preasure,Bottom Blood Preasure
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None,125,80
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,369,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95

In [7]:
df["Occupation"].value_counts()

Nurse                   72
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: Occupation, dtype: int64

In [8]:
df["BMI Category"].value_counts()

Normal           195
Overweight       147
Normal Weight     21
Obese             10
Name: BMI Category, dtype: int64

In [9]:
df["Sleep Disorder"].value_counts()

None           219
Sleep Apnea     77
Insomnia        77
Name: Sleep Disorder, dtype: int64

In [10]:
df["Gender"].value_counts()

Male      189
Female    184
Name: Gender, dtype: int64

In [11]:
columns = ["Occupation","BMI Category","Sleep Disorder","Gender"]
from sklearn.preprocessing import LabelEncoder
labeling = LabelEncoder()

for column in columns:
    df[column] = labeling.fit_transform(df[column])
    print(df[column])

0      9
1      1
2      1
3      6
4      6
      ..
368    5
369    5
370    5
371    5
372    5
Name: Occupation, Length: 373, dtype: int32
0      3
1      0
2      0
3      2
4      2
      ..
368    3
369    3
370    3
371    3
372    3
Name: BMI Category, Length: 373, dtype: int32
0      1
1      1
2      1
3      2
4      2
      ..
368    2
369    2
370    2
371    2
372    2
Name: Sleep Disorder, Length: 373, dtype: int32
0      1
1      1
2      1
3      1
4      1
      ..
368    0
369    0
370    0
371    0
372    0
Name: Gender, Length: 373, dtype: int32

In [12]:
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,TOP Blood Preasure,Bottom Blood Preasure
0,1,1,27,9,6.1,6,42,6,3,126/83,77,4200,1,126,83
1,2,1,28,1,6.2,6,60,8,0,125/80,75,10000,1,125,80
2,3,1,28,1,6.2,6,60,8,0,125/80,75,10000,1,125,80
3,4,1,28,6,5.9,4,30,8,2,140/90,85,3000,2,140,90
4,5,1,28,6,5.9,4,30,8,2,140/90,85,3000,2,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,369,0,59,5,8.1,9,75,3,3,140/95,68,7000,2,140,95
369,370,0,59,5,8.1,9,75,3,3,140/95,68,7000,2,140,95
370,371,0,59,5,8.0,9,75,3,3,140/95,68,7000,2,140,95
371,372,0,59,5,8.1,9,75,3,3,140/95,68,7000,2,140,95
372,373,0,59,5,8.1,9,75,3,3,140/95,68,7000,2,140,95

In [13]:
df["Occupation"].value_counts()

5     72
1     71
2     63
3     47
10    40
0     37
7     32
9      4
8      4
6      2
4      1
Name: Occupation, dtype: int64

In [14]:
df["Sleep Disorder"].value_counts()

1    219
2     77
0     77
Name: Sleep Disorder, dtype: int64

In [15]:
df["BMI Category"].value_counts()

0    195
3    147
1     21
2     10
Name: BMI Category, dtype: int64

In [16]:
df["Gender"].value_counts()

1    189
0    184
Name: Gender, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                373 non-null    int64
 1   Gender                   373 non-null    int32
 2   Age                      373 non-null    int64
 3   Occupation               373 non-null    int32
 4   Sleep Duration           373 non-null    float64
 5   Quality of Sleep         373 non-null    int64
 6   Physical Activity Level  373 non-null    int64
 7   Stress Level             373 non-null    int64
 8   BMI Category             373 non-null    int32
 9   Blood Pressure           373 non-null    object
 10  Heart Rate               373 non-null    int64
 11  Daily Steps              373 non-null    int64
 12  Sleep Disorder           373 non-null    int32
 13  TOP Blood Preasure       373 non-null    int64
 14  Bottom Blood Preasure    373 non-null    int64
dtypes: float64(1), int32(4), int64(9), object(1)
memory usage: 38.0+ KB

In [18]:
df.drop("Blood Pressure",axis=1, inplace=True)

In [19]:
df.describe()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,TOP Blood Preasure,Bottom Blood Preasure
count,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000,373.000000
mean,187.000000,0.506702,42.139410,3.769437,7.129491,7.308311,59.128686,5.391421,1.292225,70.171582,6816.353887,1.000000,128.522788,84.621984
std,107.820066,0.500627,8.640793,3.059522,0.795139,1.195359,20.842589,1.772590,1.430418,4.139704,1620.060932,0.643412,7.735732,6.146443
min,1.000000,0.000000,27.000000,0.000000,5.800000,4.000000,30.000000,3.000000,0.000000,65.000000,3000.000000,0.000000,115.000000,75.000000
25%,94.000000,0.000000,35.000000,1.000000,6.400000,6.000000,45.000000,4.000000,0.000000,68.000000,5600.000000,1.000000,125.000000,80.000000
50%,187.000000,1.000000,43.000000,3.000000,7.200000,7.000000,60.000000,5.000000,0.000000,70.000000,7000.000000,1.000000,130.000000,85.000000
75%,280.000000,1.000000,50.000000,5.000000,7.800000,8.000000,75.000000,7.000000,3.000000,72.000000,8000.000000,1.000000,135.000000,90.000000
max,373.000000,1.000000,59.000000,10.000000,8.500000,9.000000,90.000000,8.000000,3.000000,86.000000,10000.000000,2.000000,142.000000,95.000000

In [20]:
df_regresi = df[df["Sleep Disorder"]==1]

In [21]:
df_regresi

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,TOP Blood Preasure,Bottom Blood Preasure
0,1,1,27,9,6.1,6,42,6,3,77,4200,1,126,83
1,2,1,28,1,6.2,6,60,8,0,75,10000,1,125,80
2,3,1,28,1,6.2,6,60,8,0,75,10000,1,125,80
7,8,1,29,1,7.8,7,75,6,0,70,8000,1,120,80
8,9,1,29,1,7.8,7,75,6,0,70,8000,1,120,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,342,0,56,1,8.2,9,90,3,1,65,10000,1,118,75
342,343,0,56,1,8.2,9,90,3,1,65,10000,1,118,75
343,344,0,57,5,8.1,9,75,3,3,68,7000,1,140,95
358,359,0,59,5,8.0,9,75,3,3,68,7000,1,140,95
359,360,0,59,5,8.1,9,75,3,3,68,7000,1,140,95

In [22]:
from sklearn.model_selection import train_test_split,KFold
from sklearn.metrics import r2_score,mean_squared_error, classification_report,f1_score

In [23]:
from sklearn.ensemble import GradientBoostingRegressor,GradientBoostingClassifier
from xgboost import XGBClassifier,XGBRegressor
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from sklearn.ensemble import AdaBoostRegressor,AdaBoostClassifier

In [24]:
model1 = GradientBoostingClassifier(random_state=42)
model2 = GradientBoostingRegressor(random_state=42)
model3 = XGBClassifier()
model4 = XGBRegressor()
model5 = RandomForestClassifier(random_state=42)
model6 = RandomForestRegressor(random_state=42)
model7 = AdaBoostRegressor(random_state=42)
model8 = AdaBoostClassifier(random_state=42)

# Regresi

In [25]:
X_duration = df_regresi[["Quality of Sleep","Stress Level","Physical Activity Level","BMI Category","Occupation"]] 
y_duration = df_regresi["Sleep Duration"]

In [26]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_normalisasi = scaler.fit_transform(X_duration)

In [27]:
X_train2,X_test2,y_train2,y_test2 = train_test_split(X_normalisasi,y_duration,test_size=0.2,random_state=42)

In [28]:
model2.fit(X_train2,y_train2)
y_pred_duration = model2.predict(X_test2)

r2_score_duration_GBR = r2_score(y_test2,y_pred_duration)
rmse_GBR = np.sqrt(mean_squared_error(y_test2,y_pred_duration))

print(r2_score_duration_GBR)
print(rmse_GBR)

0.9826755440692584
0.09141168937461931

In [29]:
model4.fit(X_train2,y_train2)
y_pred_duration = model4.predict(X_test2)

r2_score_duration_XGBR = r2_score(y_test2,y_pred_duration)
rmse_XGBR = np.sqrt(mean_squared_error(y_test2,y_pred_duration))

print(r2_score_duration_XGBR)
print(rmse_XGBR)

0.9825233558061233
0.09181231861849136

In [30]:
model6.fit(X_train2,y_train2)
y_pred_duration = model6.predict(X_test2)

r2_score_duration_RF = r2_score(y_test2,y_pred_duration)
rmse_RF = np.sqrt(mean_squared_error(y_test2,y_pred_duration))

print(r2_score_duration_RF)
print(rmse_RF)

0.9807985507774316
0.0962363043533465

In [31]:
model7.fit(X_train2,y_train2)
y_pred_duration = model7.predict(X_test2)

r2_score_duration_ADA = r2_score(y_test2,y_pred_duration)
rmse_ADA = np.sqrt(mean_squared_error(y_test2,y_pred_duration))

print(r2_score_duration_ADA)
print(rmse_ADA)

0.9785790005102775
0.10164635235491679

In [32]:
inputan_user = [[9,3,75,3,5]]
hasil = model2.predict(inputan_user)
print(float(hasil))

7.663531353119322

In [33]:
r2_score_hasil = pd.Series([r2_score_duration_GBR,r2_score_duration_RF,r2_score_duration_XGBR,r2_score_duration_ADA],index=["GBR","RF","XGBR","AdaBoost"])

In [34]:
rmse_hasil = pd.Series([rmse_GBR,rmse_RF,rmse_XGBR,rmse_ADA],index=["GBR","RF","XGBR","AdaBoost"])

In [35]:
data_metrics_regresi = pd.DataFrame([r2_score_hasil,rmse_hasil],index=["R2_Score","RMSE"])

In [36]:
data_metrics_regresi

               GBR        RF      XGBR  AdaBoost
R2_Score  0.982676  0.980799  0.982523  0.978579
RMSE      0.091412  0.096236  0.091812  0.101646

In [37]:
data_metrics_regresi = np.transpose(data_metrics_regresi)
data_metrics_regresi

          R2_Score      RMSE
GBR       0.982676  0.091412
RF        0.980799  0.096236
XGBR      0.982523  0.091812
AdaBoost  0.978579  0.101646

# Klasifikasi

In [38]:
X_sleep_disorder = df[["Quality of Sleep","Stress Level","Physical Activity Level","TOP Blood Preasure","Bottom Blood Preasure","Occupation"]] 
y_sleep_disorder = df["Sleep Disorder"]

In [39]:
from imblearn.over_sampling import SMOTE
balancing = SMOTE(k_neighbors=3)
X_resampled, y_resampled = balancing.fit_resample(X_sleep_disorder,y_sleep_disorder)

In [40]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_normalisasi_klasifikasi = scaler.fit_transform(X_resampled)

In [41]:
X_train1,X_test1,y_train1,y_test1 = train_test_split(X_normalisasi_klasifikasi,y_resampled,test_size=0.2,random_state=42)

In [42]:
model1.fit(X_train1,y_train1)
y_pred_disorder = model1.predict(X_test1)

classification_report_gbr = classification_report(y_test1,y_pred_disorder)
f1_scoregbr = f1_score(y_test1,y_pred_disorder,average='macro')

print("GBR Model")
print(classification_report_gbr)

GBR Model
              precision    recall  f1-score   support

           0       0.89      0.86      0.88        29
           1       0.93      0.96      0.94        52
           2       0.96      0.94      0.95        51

    accuracy                           0.93       132
   macro avg       0.93      0.92      0.92       132
weighted avg       0.93      0.93      0.93       132

In [43]:
model3.fit(X_train1,y_train1)
y_pred_disorder = model3.predict(X_test1)

classification_report_RF = classification_report(y_test1,y_pred_disorder)

print("RF Model")
print(classification_report_RF)

RF Model
              precision    recall  f1-score   support

           0       0.86      0.86      0.86        29
           1       0.93      0.96      0.94        52
           2       0.96      0.92      0.94        51

    accuracy                           0.92       132
   macro avg       0.92      0.92      0.92       132
weighted avg       0.92      0.92      0.92       132

In [44]:
model5.fit(X_train1,y_train1)
y_pred_disorder = model5.predict(X_test1)

classification_report_XGBC = classification_report(y_test1,y_pred_disorder)

print("XGBC Model")
print(classification_report_XGBC)

XGBC Model
              precision    recall  f1-score   support

           0       0.86      0.86      0.86        29
           1       0.91      0.96      0.93        52
           2       0.98      0.92      0.95        51

    accuracy                           0.92       132
   macro avg       0.92      0.92      0.92       132
weighted avg       0.93      0.92      0.92       132

In [45]:
model8.fit(X_train1,y_train1)
y_pred_disorder = model8.predict(X_test1)

classification_report_Ada = classification_report(y_test1,y_pred_disorder)

print("AdaBoost Model")
print(classification_report_Ada)

AdaBoost Model
              precision    recall  f1-score   support

           0       0.61      0.93      0.74        29
           1       0.91      0.75      0.82        52
           2       1.00      0.88      0.94        51

    accuracy                           0.84       132
   macro avg       0.84      0.85      0.83       132
weighted avg       0.88      0.84      0.85       132